<%-include('../cabecalho.ejs')%>
<h1>Adicionar Gêneros</h1>
<div>
<a href="/genero/lst">Listar</a>
</div>
<div>
    <form  method="post">
        <label>Nome do Gênero:</label>
        <input type="text" name="nome"><br>
        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>