<%-include('../cabecalho.ejs')%>
<h1>Editar Genero</h1>
<div>
<a href="/genero/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Genero.id%>"><br>
        <label>Nome:</label>
        <input type="text" name="nomedogenero" 
        value="<%=Genero.nomedogenero%>"><br>
         
        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>